$pinkred: #b61b69;
$black: #000000;
$white: white;
$blue: #80ffff;
$lightgrey: #d1e0e0;
$lightblack: #6b6868da;

$mobile-screen: 375px;
$mobile-screen-maxwidth: 767px;
$tablet-screen: 768px;
$desktop-screen: 1024px;

$mobile-body-font-size: 12px;
$mobile-body-line-height: 13px;

$tablet-body-font-size: 13px;
$tablet-body-line-height: 14px;

$laptop-body-font-size: 14px;
$laptop-body-line-height: 15px;
