nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  list-style-type: none;
}

.nav-ul li {
  display: inline-block;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  color: #000;
  font-weight: bold;
  cursor: pointer;
}

.nav-ul li a {
  display: inline-block;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

.hamburger {
  background-color: transparent;
  border: 0;
  display: none;
  color: #000;
  cursor: pointer;
  font-size: 20px;
}

.hamburger:focus {
  outline: none;
}

nav:hover {
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

nav .cart img {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
  margin-top: 12px;
  background-color: lightgray;
}

.logo img {
  width: 100px;
  height: 50px;
}

.cartimg {
  width: 25px;
  height: 25px;
}

@media screen and (max-width: 767px) {
  nav {
    padding: 5px;
  }
  .nav-ul {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .nav-ul.show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .hamburger {
    display: block;
    overflow: initial;
  }
}

.footerdata {
  text-align: center;
}

@media screen and (min-width: 375px) {
  body {
    font-family: "Dosis", sans-serif;
    font-size: 12px;
    line-height: 13px;
    letter-spacing: 0.5px;
  }
  section {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .heading {
    font-size: 16px;
    line-height: 17px;
    letter-spacing: 0.55px;
  }
  button {
    background-color: #b61b69;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    color: white;
    font-size: 14px;
    border: none;
    font-family: "Dosis", sans-serif;
  }
  ul li {
    text-decoration: none;
    list-style: none;
    font-size: 12px;
  }
}

@media screen and (min-width: 768px) {
  body {
    font-size: 13px;
    line-height: 14px;
    letter-spacing: 0.6px;
  }
  section {
    padding-top: 18px;
    padding-bottom: 18px;
  }
  .heading {
    font-size: 17px;
    line-height: 18px;
    letter-spacing: 0.75px;
  }
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 14px;
    line-height: 15px;
    letter-spacing: 0.8px;
  }
  section {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .heading {
    font-size: 17px;
    line-height: 18px;
    letter-spacing: 0.8px;
  }
}
/*# sourceMappingURL=theme.css.map */