<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Sabka Bazar Shopping website " />
    <link rel="shortcut icon" href="#" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Dosis:wght@400;800&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"
    />

    <link rel="stylesheet" href="../sass/core/reset.css" />
    <link rel="stylesheet" href="../sass/theme.css" />
    <link rel="stylesheet" href="../sass/layout/cart.css" />
    <title>Cart Page Sabka Bazar</title>
  </head>
  <body>
    <section class="header"></section>
    <section class="cartpage">
      <div class="mycartheader heading" id="cartcountheading"></div>
      <div class="cartpagecontainer"></div>

      <div class="lowestpricebanner nullcart">
        You won't find it cheaper anywhere
      </div>

      <div class="promo nullcart">
        Promo code can be applied on payment page
      </div>

      <button class="checkout nullcart"></button>
    </section>
    <section class="footer"></section>
    <script
      src="https://kit.fontawesome.com/c090413f2d.js"
      crossorigin="anonymous"
    ></script>
    <script type="module" src="../js/utility/util.js"></script>
    <script type="module" src="../js/utility/common.js"></script>
    <script type="module" src="../js/products/cart.js"></script>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/toastify-js"
    ></script>
  </body>
</html>
