<header>
  <nav>
    <div class="logo">
      <a href="./home.html">
        <img src="../static/images/logo.png" alt="logo" />
      </a>
    </div>
    <button class="hamburger" id="hamburger">
      <i class="fas fa-bars"></i>
    </button>
    <ul class="nav-ul" id="nav-ul">
      <!-- <li><a href="./home.html">Home</a></li> -->
      <li><a href="./plp.html">Products</a></li>
      <li id="signin"><a href="./login.html">Sign-in</a></li>
      <li id="logout">
        <div>Logout</div>
        <div id="useremail"></div>
      </li>
      <li id="register"><a href="./signup.html">Register</a></li>
      <li>
        <a href="./cart.html">
          <img class="cartimg" src="../static/images/cart.svg" alt="cart" />
          <div id="cartcount"></div>
        </a>
      </li>
    </ul>
  </nav>
</header>
<script src="../js/utility/header.js"></script>
