<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Sabka Bazar Shopping website " />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link
      href="https://fonts.googleapis.com/css2?family=Dosis:wght@400;800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../sass/core/reset.css" />
    <link rel="stylesheet" href="../sass/theme.css" />  
    <link rel="stylesheet" href="../sass/layout/home.css" />
    <link rel="stylesheet" href="../sass/components/slider.css" />
    <title>Sabka Bazar</title>
  </head>
  <body>
    <section class="header"></section>
    <section class="slideshow-container"></section>
    <section class="dotSlider"></section>
    <section class="categorybox"></section>
    <section class="footer"></section>

    <script type="module" src="../js/utility/common.js"></script>
    <script
      src="https://kit.fontawesome.com/c090413f2d.js"
      crossorigin="anonymous"
    ></script>

    <script src="../js/products/slider.js"></script>
    <script type="module" src="../js/products/home.js"></script>
  </body>
</html>
