<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Sabka Bazar Shopping website " />
    <link rel="shortcut icon" href="#" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Dosis:wght@400;800&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"
    />
    <link rel="stylesheet" href="../sass/core/reset.css" />
    <link rel="stylesheet" href="../sass/theme.css" />
    <link rel="stylesheet" href="../sass/layout/plp.css" />
    <title>Product List</title>
  </head>
  <body>
    <div class="header"></div>

    <div class="plpcontent">
      <div class="nav">
        <ul>
          <li>
            <button class="plpbtn" id="allproducts">All Products</button>
            <ul>
              <li>
                <button class="plpbtn" id="fruits">
                  Fruits and Vegetables
                </button>
              </li>
              <li><button class="plpbtn" id="babyCare">Baby Care</button></li>
              <li>
                <button class="plpbtn" id="beauty">Beauty and Hygiene</button>
              </li>
              <li><button class="plpbtn" id="beverages">Beverages</button></li>
              <li>
                <button class="plpbtn" id="bakery">
                  Bakery Cakes and Dairy
                </button>
              </li>
            </ul>
          </li>
        </ul>
      </div>

      <section class="plpbox"></section>
    </div>
    <section class="footer"></section>
    <script type="module" src="../js/utility/common.js"></script>
    <script type="module" src="../js/products/plp.js"></script>
    <script
      src="https://kit.fontawesome.com/c090413f2d.js"
      crossorigin="anonymous"
    ></script>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/toastify-js"
    ></script>
  </body>
</html>
